table {
    margin: 0 auto;
}

table td {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-collapse: collapse;

    padding: 0 1rem;
    text-align: center;
}

td:last-child {
    border-right: none;
}

p {
    text-align: center;
    
}
a {
    color: #0028ff;
}    
